
@{
    ViewData["Title"] = "CreateUser";
}
@model Capstone.Classes.User;


<h1>CreateUser</h1>
@using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.GuiltLevel)
        @Html.TextBoxFor(x => x.GuiltLevel, htmlAttributes: new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

}