@model List<AccountService.SerializableKitchen>
@if (Model.Count != 0)
{
    <table>
        @foreach (var kitchen in Model)
        {

            <tr>
                <th><strong>@kitchen.Name</strong></th>
                <th>@Html.ActionLink("Edit", "EditKitchen")</th>
                <th>@Html.ActionLink("Delete", "DeleteKitchen")</th>
            </tr>

            @if (kitchen.Inventory.Count() != 0)
            {


                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                </tr>
                @foreach (var food in kitchen.Inventory)
                {
                    <tr>
                        <td>@food.Name</td>
                        <td>@food.Quantity</td>
                        <td>
                            <button type="button" class="btn btn-primary editFoodBtn" data-toggle="modal" data-target="#AddFood" data-food-Id="@food.Id" data-kitchen-Id="@kitchen.Id">Edit</button>
                        </td>
                    </tr>
                }


            }
            else
            {
                <tr><td><em>You have no food, add some</em></td></tr>

            }
            <tr>
                <td>
                    <button type="button" class="btn btn-primary addFoodBtn" data-toggle="modal" data-target="#AddFood" data-kitchen-Id="@kitchen.Id">Add Food</button>
                </td>
            </tr>

        }
    </table>

}
else
{
    <em>You have no kitchens, add one</em>
}
<br />
<button type="button" id="AddKitchen" class="btn btn-primary" data-toggle="modal" data-target="#KithenModel">Add Kitchen</button>



<div class="modal fade" role="dialog" id="AddFood">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Food</h5>
            </div>
            <div class="modal-body">
                <div id="AddEditFoodBody">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="KithenModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kitchen</h5>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("AddEditKitchenPartial", new KitchenUser { UserId = ViewBag.UserId, kitchen = new Capstone.Classes.Kitchen() });}
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/User/UserKitchen.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready!");
    });
</script>

